{% extends 'tasks/base.html'%}

{% block body %}
	{% block set_act %}active{% endblock %}
<div class="row">
		<div class="jumbotron col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 shadow p-3 mb-5 bg-white" style="margin-top: 40px; padding-left: 30px">
	  <h1 class="display-4">About Todoist</h1>
	  <p class="lead">Release 1.0:</p>
	  <hr class="my-4">
	  <h5>Welcome to Todoist! This is your newest and the most modern approach to productivity.</h5><br>
	  <h6 style="text-align: center;">Schedule your day to stay on top of your to-dos</h6><br>
	  <h6 style="text-align: center;" >Live your day like a game by giving yourself points for every task you do.</h6><br>
	  <h6 style="text-align: center;">Brag about your productivity by sharing your reports!</h6><br>

	</div>
</div>
{% endblock %}